<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-explore-container name="Tab 1 page"></app-explore-container>

    <ion-chip (click)="handl()">
        <ion-label>Click mich</ion-label>
    </ion-chip>

    <ion-chip>
        <ion-label color="secondary">Secondary Label</ion-label>
    </ion-chip>

</ion-content>
